<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.jpg') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header id="home_header">
        <img id="image" src="{{ url_for('static', filename='images/todoimg.jpg') }}" alt="TODO Image">
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>